{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Nuevo Docente"%}

{% block menu_admin_docentes %}class="active"{% endblock %}

{% block datos %}
    <h1 class="page-header">Nuevo Docente</h1>

    {% include 'PAGEDemoBundle:Teacher:_form.html.twig' %}

    <a href="{{ path('teacher') }}">volver</a>
{% endblock %}
