{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Nueva Evaluaciones"%}

{% block active_menu_academico %}class="in"{% endblock %}

{% block subtitle %}
	 <i class="fa fa-file-text"></i>&nbsp;Nueva Evaluación
{% endblock %}


{% block submenu_docente_academico_evaluaciones %}
    {#<li class="active"><a href="{{path('academico_evaluaciones')}}">&emsp;&emsp;<i class="fa fa-file-text"></i>&nbsp;Evaluaciones</a></li>#}
{% endblock %}

{% block submenu_alumnos_academico_evaluaciones %}
    {#<li class="active"><a href="{{path('academico_evaluaciones')}}">&emsp;&emsp;<i class="fa fa-file-text"></i>&nbsp;Evaluaciones</a></li>#}
{% endblock %}

{% block datos %}
    {% embed 'PAGEDemoBundle:Layout:layout_alert.html.twig' %}
      {% block alert %}
        {{ parent() }}
      {% endblock %}
    {% endembed %}

    
  <section>
  	{% include 'PAGEDemoBundle:Test:_evaluacion.html.twig' %}
  	{% block academico_evaluacion %}
  		{{parent()}}
  	{% endblock %}
  </section>
{% endblock %}