{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Nuevo Apoderado"%}

{% block menu_admin_alumnos %}class="active"{% endblock %}

{% block datos %}
    <h1 class="page-header">Nuevo Apoderado</h1>

    {% include 'PAGEDemoBundle:Agent:_form.html.twig' %}

    <ul class="record_actions">
	    <li>
	        <a href="{{ path('agent') }}">
	            Back to the list
	        </a>
	    </li>
	</ul>
{% endblock %}
