{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Editar Documento"%}

{% block menu_admin_documentos %}class="active"{% endblock %}

{% block datos %}
    <h1 class="page-header">Editar Documento</h1>

 	{% include 'PAGEDemoBundle:Document:_form.html.twig' %}

    <a href="{{ path('document') }}">volver</a>
{% endblock %}
