{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Editar Horario"%}

{% block menu_admin_docentes %}class="active"{% endblock %}

{% block datos %}
    <h1 class="page-header">Docente&nbsp;<i class="fa fa-angle-right"></i>&nbsp;<small>Editar Horario</small></h1>

    {% include 'PAGEDemoBundle:Schedule:_form.html.twig' %}

    <a href="{{ path('schedule',{'id_teacher': entity.teacher.id}) }}">volver</a>
    {{ form(delete_form) }}
{% endblock %}
