{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Nuevo Horario"%}

{% block menu_admin_docentes %}class="active"{% endblock %}

{% block datos %}
    <h1 class="page-header">Docente&nbsp;<i class="fa fa-angle-right"></i>&nbsp;<small>Nuevo Horario</small></h1>

    {% include 'PAGEDemoBundle:Schedule:_form.html.twig' %}

    <a href="{{ path('schedule',{'id_teacher': teacher.id}) }}">volver</a>
	   
{% endblock %}
