{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Nueva Asistencias"%}

{% block menu_admin_academico %}class="active"{% endblock %}

{% block datos %}
    <h1>Nueva Asistencia</h1>

    {% include 'PAGEDemoBundle:InCallRoll:_form.html.twig' %}

    <ul class="record_actions">
	    <li>
	        <a href="{{ path('incallroll') }}">
	            Back to the list
	        </a>
	    </li>
	</ul>
{% endblock %}
