{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Editar Instituci贸n"%}

{% block menu_admin_cuentas %}class="active"{% endblock %}

{% block datos %}
    <h1 class="page-header">Instituci贸n&nbsp;<i class="fa fa-angle-right"></i>&nbsp;<small>Datos Instituci贸n</small> 
	    <ul class="nav nav-pills pull-right">
		  	<li role="presentation" class="active">
		  		<a href="{{ path('institution_edit',{'id': entity.id }) }}" class="btn">Datos Instituci贸n</a>
		  	</li>
			{% if app.user.institution %}
				<li role="presentation">
					<a href="{{ path('ininstitution_edit',{'id': entity.ininstitution.id }) }}" class="btn">Unidad Educativa</a>
				</li>
			{% endif %}
		</ul>
	</h1>

    {% include 'PAGEDemoBundle:Institution:_form.html.twig' %}

{% endblock %}
