{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Nueva Institución"%}

{% block menu_admin_cuentas %}class="active"{% endblock %}

{% block datos %}
    <h1 class="page-header">Institución</h1>
    {% if app.user.institution %}
		<a href="{{ path('ininstitution_edit',{'id': entity.ininstitution.id}) }}">Unidad Educativa</a>
	{% endif %}
	
    {% include 'PAGEDemoBundle:Institution:_form.html.twig' %}

{% endblock %}
