{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Profile"%}

{% block menu_admin_cuentas %}class="active"{% endblock %}

{% block datos %}
<h1 class="page-header">Cuentas</h1>
{% endblock %}