{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Docente"%}

{% block menu_admin_docentes %}class="active"{% endblock %}

{% block datos %}
    <h1>InTeacher creation</h1>

	{% include 'PAGEDemoBundle:InTeacher:_form.html.twig' %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('inteacher') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
