{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Editar Nota"%}

{% block menu_admin_academico %}class="active"{% endblock %}

{% block datos %}
    <h1 class="page-header">Editar Nota</h1>

    {% include 'PAGEDemoBundle:Grade:_form.html.twig' %}

    <ul class="record_actions">
	    <li>
	        <a href="{{ path('grade') }}">
	            Back to the list
	        </a>
	    </li>
	    <li>{{ form(delete_form) }}</li>
	</ul>
{% endblock %}
