{% extends 'PAGEDemoBundle:Layout:layout_dashboard.html.twig' %}

{% block title "Nuevo Alumno"%}

{% block menu_admin_alumnos %}class="active"{% endblock %}

{% block datos %}
    <h1 class="page-header">Nuevo Alumno</h1>

    {% include 'PAGEDemoBundle:Student:_form.html.twig' %}

    <a href="{{ path('student') }}">volver</a>
{% endblock %}
