{% block secured_password %}
	<form id="signupForm" action="{{ path('_profile_secured_password_post') }}" method="POST">
		<div class="form-group">
			<label class="text-mint">Contraseña Actual</label>
			<input type="password" class="form-control" name="password-actual" required autofocus>
		</div>
		<a href="{{path('_profile_secured_resend')}}"><small>¿olvidaste tu contraseña?</small></a>

		<hr>

		<div class="form-group">
			<label class="text-mint">Nueva Contraseña</label>
			<input type="password" class="form-control" name="password" required autofocus>
		</div>

		<div class="form-group">
			<label class="text-mint">Confirmar Contraseña</label>
			<input type="password" class="form-control" name="confirmPassword" required autofocus>
		</div>

		<div class="modal-footer">
			<button type="submit" class="btn btn-mint"><i class="fa fa-save"></i>&nbsp;Guardar</button>
		</div>
	</form>
{% endblock %}