{% block alert %}
	{% if flag == 1 %}
		<div class="alert alert-success alert-dismissible" role="alert">
		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  	<i class="fa fa-check-circle"></i>&nbsp;<strong>Finalizado!</strong>&nbsp;cambios realizados con exito.
		</div>
	{% elseif flag == 0 %}
		<div class="alert alert-danger alert-dismissible" role="alert">
	  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  	<i class="fa fa-times-circle"></i>&nbsp;<strong>Cancelado!</strong>&nbsp;ocurrió un error al guardar los cambios.
		</div>
	{% elseif flag == 2 %}
		<div class="alert alert-warning alert-dismissible" role="alert">
		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  	<i class="fa fa-times-circle"></i>&nbsp;<strong>Cancelado!</strong>&nbsp;registro usado por otro objeto.
		</div>
	{% elseif flag == 3 %}
		<div class="alert alert-danger alert-dismissible" role="alert">
		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  	<i class="fa fa-times-circle"></i>&nbsp;<strong>Cancelado!</strong>&nbsp;Contraseña actual no coincide, vuelva a internar.
		</div>
	{% elseif flag == 12 %}
		<div class="alert alert-danger alert-dismissible" role="alert">
		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  	<i class="fa fa-times-circle"></i>&nbsp;<strong>Cancelado!</strong>&nbsp;Email ingresado no coincide, vuelva a internar.
		</div>
	{% elseif flag == 11 %}
		<div class="alert alert-success alert-dismissible" role="alert">
		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  	<i class="fa fa-check-circle"></i>&nbsp;<strong>Finalizado!</strong>&nbsp;Se ha enviado el código de activación a su Correo Electrónico.
		</div>
	{% elseif flag == 20 %}
		<div class="alert alert-danger alert-dismissible" role="alert">
		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  	<i class="fa fa-times-circle"></i>&nbsp;<strong>Cancelado!</strong>&nbsp;Usuario que desea agregar no posee Email, o Ya está registrado, vuelva a intentar.
		</div>
	{% endif %}
{% endblock %}